<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.zhangyi.ddd.eas.valueadded.trainingcontext.south.port.repository.LearningRepository" >
    <resultMap id="learningResultMap" type="Learning" >
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="courseId" property="courseId.value" jdbcType="VARCHAR" />
        <result column="trainingId" property="trainingId.value" jdbcType="VARCHAR" />
        <result column="traineeId" property="traineeId" jdbcType="VARCHAR" />
    </resultMap>

    <select id="exists" resultType="boolean" >
        select exists(
            select 1 from learning
            where traineeId = #{arg0} and courseId = #{arg1}
        )
    </select>
</mapper>