<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.zhangyi.ddd.eas.valueadded.trainingcontext.acl.port.repositories.ValidDateRepository" >
    <resultMap id="validDateResult" type="ValidDate" >
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="trainingId" property="trainingId.value" jdbcType="VARCHAR" />
        <result column="deadline" property="deadline" jdbcType="TIMESTAMP" />
        <result column="validDateType" property="validDateType" jdbcType="VARCHAR" />
    </resultMap>

    <select id="validDateOf" resultMap="validDateResult" >
        select
        id, trainingId, deadline, validDateType
        from valid_date
        where trainingId = #{arg0} and validDateType = #{arg1}
    </select>

    <insert id="add" parameterType="ValidDate">
        insert into valid_date
        (id, trainingId, deadline, validDateType)
        values
        (
        #{id}, #{trainingId}, #{deadline}, #{validDateType}
        )
    </insert>

    <delete id="remove" parameterType="ValidDate">
        delete from valid_date where trainingId = #{trainingId} and validDateType = #{validDateType}
    </delete>
</mapper>