<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="xyz.zhangyi.ddd.eas.trainingcontext.domain.candidate.CandidateRepository" >
    <resultMap id="candidateResult" type="Candidate" >
        <id column="id" property="id" jdbcType="VARCHAR"/>
        <result column="employeeId" property="employeeId" jdbcType="VARCHAR" />
        <result column="trainingId" property="trainingId.value" jdbcType="VARCHAR" />
    </resultMap>

    <insert id="remove" parameterType="Candidate">
        delete from candidate where employeeId =#{employeeId} and trainingId =#{trainingId}
    </insert>
</mapper>